body{
    background: linear-gradient(#aaa,#aab,#ccb);
    font-size: 2rem;
}
.he{
    margin-top: 100px;
    width: 600px;
    height: 300px;
    background: url("./a.PNG");
    color: deeppink;
    font-family: '楷体gg';
}
@font-face {
    font-family: '楷体gg';
    src: url("./font.ttf") format('ttf');
    font-weight: 600;
}
